.node-toolbar__wrapper {
    display: flex;
    padding: 5px;
    gap: 5px;
    background: rgba(#000000, 0.7);
    border-radius: 10px;
}

.node-toolbar__icon {
    color: #fff;
    transition: color 0.3s ease;

    &:hover {
        color: #ffd23d;
    }
}

.node-toolbar__delete-icon {
    color: #fff;
    transition: color 0.3s ease;

    &:hover {
        color: #e60707;
    }
}
