@import "../../../styles/variables.scss";

.overlay-dark {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.node-settings__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100vh;
    padding: 20px;
    background: $background;
    z-index: 3;
    color: $font-color;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.node-settings__title {
    color: $primary;
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.node-settings__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.node-settings__content {
    div {
        font-size: 0.9rem;
    }
}

.btns__wrapper {
    margin-top: 20px;
}

.text-field {
    color: "grey";
    background: #ffff;
    border-radius: 4px;
}

.node-settings__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.node-settings__item-title {
    font-weight: 500;
}

.node-settings__select {
    margin: 10px 0;
}

.node-settings__time-period {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}
