@import "../../styles/variables.scss";

.sidebar__wrapper {
    background: $background;
    padding: 10px;
    width: 170px;
    overflow-y: auto;
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar__title {
    margin: 10px 0;
    font-weight: 400;
    font-size: 1.2rem;
}
