@import "../../../styles/variables.scss";

.wait-node__text {
    text-align: center;
}

.wait-node__duration {
    font-size: 0.8rem;
    padding: 0 8px;
    margin: 0 5px;
    background: #eee;
    border-radius: 15px;
}
