@import "../../styles/variables.scss";

.message-node__text {
    background: #eee;
    padding: 7px;
    border-radius: 15px;
    overflow: auto;
}

.message-node__btns {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-top: 20px;
}
