@import "../../styles/variables.scss";

.pause-content__wrapper {
    text-align: center;
    padding: 0 5px;
}

.pause-content__text {
    color: $font-color;
    font-size: 0.9rem;
    padding: 10px;
    margin-top: 10px;
}

.pause-content__duration {
    padding: 0 8px;
    margin: 0 5px;
    background: #eee;
    border-radius: 15px;
}
